.uno {
    margin: 13%;

    height: 250px;
    
    width: 250px;
    
    object-fit: cover;
    
    }
.dos {
    margin: 13%;

    height: 250px;
    
    width: 250px;
    
    object-fit: cover;
    
    }
.tres {
    margin: 13%;

    height: 250px;
    
    width: 250px;
    
    object-fit: cover;
    
    }
    .cuatro {
        margin: 13%;
        
        height: 250px;
        
        width: 250px;
        
        object-fit: cover;
        
        }